hr.solid {
    border-top: 3px solid #f9f2fb;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 2%;
    color: #ebebf8;
}

.error-message {
    color: #b50d57;
    background-color: #fcf4ff;
    padding: 1% 1% 1% 1%;
    display: inline-block;
    margin-top: 2%;
    border: solid 0.5px #b50d57;
}

@media screen and (max-width: 1024px) {
    .meal-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

/* Adjust grid layout for small screens */
@media screen and (max-width: 768px) {
    .meal-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Make sure it's on top of other elements */
}

.loading-icon svg {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    color: white; /* Adjust as needed */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}