.main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.mealCard {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    background-color: brown;
    border-radius: 20px;
}
.leftCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}
.mealImage {
    border-radius: 10px;
    height: 50vh;
}
.mealDescription {
    margin-left: 10px;
    margin-right: 10px;
}
.ingredientList {
    display: flex;
    flex-wrap: wrap;
}